.top{
    background: #20334e;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
h1{
    font-family: monaco,'Source Code Pro','Courier New';
    font-size: 23px;
    color: #ffffff;
    text-align: center;
}
nav{
    display: inline-block;
    font-family:  monaco,'Source Code Pro','Courier New';
}
#dev{
    width: 9%;
    margin: 10px;
    text-decoration: none;
    padding-right: 20px;
    text-align: center;
}
.sort_btn{
    display:inline-block;
    width: 9%;
    background: #20334e;
    font-family: monaco,'Source Code Pro','Courier New';
    font-size: medium;
    border: none;  
    border-radius: 5px;
    color: #c6ccd4;
    padding:7px;
    margin-left:5px;
    margin-right: 7px;
    margin-bottom: 5px;
}
.p_class{
    color:#ffffff;
    display:inline-block;
    font-size: medium;
    font-family: monaco,'Source Code Pro','Courier New';
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.slider{
    opacity: 0.7;
    background: #20334e;
}
.sort_btn:hover{
    color: #ffffff;
    font-size: 17px;
}

.sort_btn:focus{
    background: #000000;
}

.svg_class{
    display: inline-block;
    margin:0px;
    font-size: medium;
    font-family: monaco,'Source Code Pro','Courier New';
}
#canvas_holder{
    margin-left:40px;
    width:1400px;
    padding:5px;
}
.grey_id,.black_id{
    display: block;
    margin: 2px;
    padding: 10px;
    background: #20334e;
}
th{
    width: 100%;
}
td{
    width: 100%;
}
#heading{
    margin-top:25px;
    font-family: monaco,'Source Code Pro','Courier New';
    background: #20334e;
    color: white;
    padding: 5px;
}
table{
    width: 60%;
    height: 500px;
    margin: 20px 200px 0px 300px;
}
.complexity{
    margin: 0px;
    padding: 0px;
    background: #c6ccd4;
}
sup{
    text-align: vertical;
    font-size: smaller;
}
th,td{
    width: 15%;
    height: 100px;
    border-bottom: 1px solid white;
    font-family: monaco,'Source Code Pro','Courier New';
    text-align: center;
    background: #20334e;
    color: #ffffff;
}
td:hover{
    background: #c6ccd4;
    color: black;
}
.pngs_class{
    display:inline-block;
    margin-top: 0px;
}
img{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 650px;
    margin-right: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    width: 50px;
    height: 20px;
}
#links{
    background: #20334e;
}

